.productos {
  font-family: sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.caja-productos {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #ddd;

  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-producto {
  font-size: 14px;
  color: #555;
}

/* .input-producto {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #d8d8d8;
  color: #000000;
}

.input-producto:focus {
  outline: none;
  border-color: #007bff;
} */

.titulo-formulario {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.input-producto {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff; /* fondo blanco como los select */
  color: #333; /* texto gris oscuro */
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-producto:focus {
  outline: none;
  border-color: #007bff; /* azul al enfocar */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* efecto visual */
}

.boton-producto {
  padding: 12px;
  background-color: #05b522;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.boton-producto:hover {
  background-color: #009b1a;
}

.select-producto {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
}

.select-producto:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
