.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #0b2545;
  color: #fff;
  padding: 1rem;
}

.sidebar .logo {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar ul li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 2rem;
  background: #f8f9fa;
}

.header h1 {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  color: black;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button:disabled {
  cursor: not-allowed;
  background-color: #007bff;
  color: white;
  border: none;
  opacity: 0.6;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.totales {
  text-align: right;
  margin-top: 10px;
  color: black;
}

.pago {
  color: black;
}

.carrito {
  color: black;
}
